.dashboardPage{
    margin-top: 70px;
}

.dashboardContainer{
        margin-top: 80px;
        width: 75%;
        padding: 10px 0;
        border-radius: 8px;
        box-shadow: 10px 10px 25px -1px rgba(87, 85, 230,0.5);
}

.dashboardImage{
    margin-left: 25px;
    width: 70%;
    height: 100%;
}

.dashboardPersonalDetail{
    margin-top: 30px;
    margin-left: 200px;
}

.dashboardPersonalDetail h4{
    margin: 15px 0px;
}

.dashboardTransactionContainer{
    margin-top: 40px;
    width: 75%;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 10px 10px 25px -1px rgba(87, 85, 230,0.5);
}

.dashboardTransactionDetails, .dashboardChartDetails, .dashboardCategoriesDetails{
    margin-top: 10px;
    margin-left: 20px;
} 

.dashboardTransactionCount{
    margin-top: 10px;
    margin-left: 8px;
}

.dashboardTransactionCountDetails{

}

.dashboardTransactionCountMore{
    margin-left: 200px !important;
    cursor: pointer;
}

.dashboardTransactionCountAdd{
    cursor: pointer;
}

.dashboardPieChartContainer{
    margin-top: 40px;
    width: 75%;
    height: 285px;
    padding: 10px 0;
    border-radius: 8px;
    /* background-color: gray; */
    box-shadow: 10px 10px 25px -1px rgba(87, 85, 230,0.5);
}

.dashboardPieChart{
    height: 210px;
    width: 210px;
    margin-left: 100px;
}

.dashboardChartDetails{
    
}

.dashbaordCategoryContainer{
    margin-top: 40px;
    width: 75%;
    height: 200px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 10px 10px 25px -1px rgba(87, 85, 230,0.5);
    margin-bottom: 100px;
}

.dashboardSubCategoriesDetails h4{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
}

.dashboardSubCategoriesDetails p{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}